<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="btm-footer col-md-12 text-center">
                <ul class="list-inline list-unstyled">
                    <li>
                        <a href="index.html#slides">Home</a>
                    </li>
                    <li>
                        <a href="index.html#services">Services</a>
                    </li>
                    <li>
                        <a href="index.html#about">About</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>

                <p>&copy;2014 E&amp;P Data Sense - All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
