<div id="slides" class="top-slides">
    <ul class="slides-container">

        <li>
            <img src="images/slide-1.jpg" alt="">
            <div class="slide-overlay"></div>
            <div class="slide-caption">
                <h4>E&amp;P Data Sense</h4>
                <h1>Data accelerated.</h1>
                <p>Leverage advanced data science to uncover hidden insights that lead to competitive advantage.</p>
                <p>
                    <a href="contact.html" class="btn btn-lg btn-green">We can help</a>
                </p>
            </div>
        </li>

    </ul>

    <nav class="slides-navigation">
        <a href="#" class="next">
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="#" class="prev">
            <i class="fa fa-angle-left"></i>
        </a>
    </nav>
</div>

<nav class="main-navigation">
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <i class="fa fa-anchor"></i>E&amp;P Data Sense</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="top-nav">
                    <li class="active">
                        <a href="#slides">Home</a>
                    </li>
                    <li>
                        <a href="#features">Services</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <a href="contact.html" class="btn btn-green navbar-btn pull-right external">Get in touch</a>
            </div>
        </div>
    </div>
</nav>

<section id="services" class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-9 text-left">
                <h3 class="section-title">What We Do</h3>
                <h1>We provide data intelligence solutions for exploration&nbsp;&amp;&nbsp;production companies</h1>
                <p>Details...</p>
            </div>
        </div>
        <div class="row m-top-50">
            <div class="col-md-4">
                <div class="service-box">
                    <figure>
                        <img src="images/services-cs.jpg" alt="">
                    </figure>
                    <h3>Custom software solutions</h3>
                    <p>Details...</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <figure>
                        <img src="images/services-ml.jpg" alt="">
                    </figure>
                    <h3>Machine learning</h3>
                    <p>Details...</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <figure>
                        <img src="images/services-aa.jpg" alt="">
                    </figure>
                    <h3>Advanced algorithms</h3>
                    <p>Details...</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="space" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center intro-title">
                <h4 class="title">The Full Services</h4>
                <h1>Display Your Service List</h1>
                <p class="lead">Have an expert stylist shop for you. They'll email you outfits.</p>
            </div>
            <!-- .col-12 -->
        </div>
        <!-- .row -->
        <div class="row  p-top-50">
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTop" data-slide-out="fade">
                    <div class="et-page et-page-opacity features-box et-page-current">
                        <i class="fa fa-bookmark-o"></i>
                        <h3>Click This Box</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>
                    <div class="et-page et-page-dark features-box">
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                        <p>
                            <a href="#" class="btn btn-green">View More</a>
                        </p>
                    </div>
                </article>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTop" data-slide-out="fade">
                    <div class="et-page features-box et-page-current">
                        <i class="fa fa-bookmark-o"></i>
                        <h3>Click To Reveal Content</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>
                    <div class="et-page et-page-dark features-box">
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                        <p>
                            <a href="#" class="btn btn-green">View More</a>
                        </p>
                    </div>
                </article>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTopFade" data-slide-out="moveToRightFade">
                    <div class="et-page features-box et-page-current">
                        <i class="fa fa-bell-o"></i>
                        <h3>Click This Box</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>
                    <div class="et-page  features-box">
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                        <p>
                            <a href="#" class="btn btn-green">View More</a>
                        </p>
                    </div>
                </article>
            </div>
            <!-- .col-4 -->
        </div>
        <!-- .row -->
        <div class="row  p-top-20">
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTop" data-slide-out="fade">
                    <div class="et-page features-box et-page-current">
                        <i class="fa fa-bookmark-o"></i>
                        <h3>Click This Box</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>
                    <div class="et-page  features-box">
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                        <p>
                            <a href="#" class="btn btn-green">View More</a>
                        </p>
                    </div>
                </article>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromBottom ontop" data-slide-out="scaleDown">
                    <div class="et-page features-box et-page-current">
                        <i class="fa fa-bookmark-o"></i>
                        <h3>Click To Reveal Content</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>
                    <div class="et-page  features-box">
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                        <p>
                            <a href="#" class="btn btn-green">View More</a>
                        </p>
                    </div>
                </article>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTopFade" data-slide-out="moveToRightFade">
                    <div class="et-page features-box et-page-current">
                        <i class="fa fa-bell-o"></i>
                        <h3>Click This Box</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>
                    <div class="et-page  features-box">
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                        <p>
                            <a href="#" class="btn btn-green">View More</a>
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="quote space">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p>
                    <span class="glyphicon glyphicon-send"></span>
                </p>
                <p class="lead">
                    <i>Lets work together and create something awesome</i>
                </p>
                <p>
                    <a href="contact.php" class="btn btn-lg btn-green">Get a Free Quote</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="about" class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h3 class="title-12">ABOUT US</h3>
                <h1>The
                                <span class="f-800 f-green">Kendo</span>Full Story</h1>
                <p>Kendo Theme is a Have an expert stylist shop for you. They'll email you outfits and items that look amazing on you, completely free.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <!-- .col 10 -->
        </div>
        <!-- /.row -->
        <div class="row text-center">
            <div class="col-md-12">
                <ul class="stats-info list-unstyled list-inline">
                    <li>
                        <h2>7 Years</h2>
                        <p>Since We Started</p>
                    </li>
                    <li>
                        <h2>1,580+</h2>
                        <p>Happy Customers</p>
                    </li>
                    <li>
                        <h2>8 000 0...</h2>
                        <p>Lines of Code</p>
                    </li>
                    <li>
                        <h2>1500</h2>
                        <p>Hard Working Folks</p>
                    </li>
                </ul>
                <!-- end:Stast-Info -->
            </div>
            <!-- .col-12 -->
        </div>
        <!-- /.row -->
        <div class="row text-center">
            <div class="col-md-10 col-md-offset-1">
                <div class="team-image">
                    <img class="tagged img-responsive" src="images/founders.jpg" alt="photo">
                    <div class="spot spot-1">
                        <a href="#teamModal" data-toggle="modal" data-target="#teamModal">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                    <div class="spot spot-2">
                        <a href="#teamModal" data-toggle="modal" data-target="#teamModal">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                    <div class="spot spot-3">
                        <a href="#teamModal" data-toggle="modal" data-target="#teamModal">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                    <div class="spot spot-4">
                        <a href="#teamModal" data-toggle="modal" data-target="#teamModal">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                </div>
                <!-- end:team image -->
            </div>
            <!-- .col-10 -->
            <!-- start:Team Modal -->
            <!-- Modal -->
            <div class="modal animated fadeIn" id="teamModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="content-box text-center">
                                <div class="content-box-image maurice-image"></div>
                                <div class="team">
                                    <div class="member">
                                        <img src="images/welcome.png" alt="" class="img-circle img-responsive">
                                    </div>
                                </div>
                                <h3>
                                                <a href="#">Pamukovich A.</a>
                                            </h3>
                                <h5>Founder &amp; CO</h5>
                                <p>Creative Principal, 3eighteen media
                                    <br>Formerly: Black Weblog Awards, AT&amp;T, WebMD
                                    <br>
                                    <br>Also Relate Media Group, VirtualStudent.net, CollegeClub.com.
                                    <br>
                                    <br>
                                    <a href="http://mauricecherry.com">mauricecherry.com</a>
                                    <a href="http://twitter.com/mauricecherry">@mauricecherry</a>
                                </p>
                            </div>
                        </div>
                        <!-- .end:Modal body -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- end:Team Modal -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- end:About -->


<section id="contact" class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="f-white">Work with us</h1>
                <p>Discover how to achieve your data analysis goals faster than you imagined. Our team can help you implement advanced solutions that offer unprecedented insights.</p>
                <p>
                    <a href="contact.html" class="btn btn-green btn-lg">Contact Us</a>
                </p>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="btm-footer col-md-12 text-center">
                <ul class="list-inline list-unstyled">
                    <li>
                        <a href="#slides">Home</a>
                    </li>
                    <li>
                        <a href="#features">Services</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>

                <p>&copy;2014 E&amp;P Data Sense - All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

