<section id="slides" class="top-slides">
    <div class="top-slide">
        <img src="images/slide-1.jpg" alt="" >
        <div class="slide-caption">
            <h4>E&amp;P Data Sense</h4>
            <h1>Data accelerated.</h1>
            <p>Leverage advanced data science to uncover hidden insights that lead to competitive advantage.</p>
            <p>
                <a href="contact.html" class="btn btn-lg btn-green">We can help</a>
            </p>
        </div>
    </div>

    <div class="top-slide">
        <img src="images/slide-2.jpg" alt="">
        <div class="slide-caption">
            <h4>E&amp;P Data Sense</h4>
            <h1>Intelligence enhanced.</h1>
            <p>Harness the power of machine learning to stay ahead of the curve.</p>
            <p>
                <a href="contact.html" class="btn btn-lg btn-green">We can help</a>
            </p>
        </div>
    </div>
</section>

<%- include _parts/nav %>

<section id="services" class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-9 text-left">
                <h3 class="section-title">What We Do</h3>
                <h1>Data Intelligence</h1>
                <p>We develop technology and processes that oil and gas industry organizations can apply to capture and transform raw data into insights that can improve value, yield, safety and environmental protection. Our products capture the information needed to predict business outcomes and to make real time decisions that are critical in outperforming competition.</p>
                <p>Our objective is to successfully harness the huge potential of data analytics, in order to help oil and gas organizations achieve optimal operational efficiency.</p>
            </div>
        </div>
        <div class="row m-top-50">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-cubes"></i>
                    </div>
                    <h3>Software Solutions</h3>
                    <p>We create user friendly, intuitive oil and gas software that enables organizations to use the latest advances in data analysis techniques, and provides them with the tools needed to answer critical questions impacting daily productivity and overall success.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <h3>Machine Learning</h3>
                    <p>Machine learning allows us to create systems that can analyze and learn from data, rather than follow only explicitly programmed instructions. Such systems use the patterns and trends found in data to detect and predict situations that cannot be otherwise described by simple rules.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-database"></i>
                    </div>
                    <h3>Data Analysis</h3>
                    <p>We use quality-tested algorithms, constantly updated to reflect the latest statistical methodologies. This enables us to analyze the past and describe the current situation - all based on readily available data.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="inquiry space">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p>
                    <span class="glyphicon glyphicon-cog"></span>
                </p>
                <p class="lead">
                    <i>Advanced analytics software that help you solve event the most intractable problems.</i>
                </p>
                <p>
                    <a href="contact.html" class="btn btn-lg btn-green">Submit Inquiry</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="about" class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h3 class="section-title">ABOUT US</h3>
                <h1><span class="f-green">E&amp;P Data Sense</span></h1>
                <p>E&amp;P Data Sense is a provider of data analysis software for oil and gas organizations. Our solutions leverage the latest developments in the fields of statistics and artificial intelligence to provide the tools that simplify and optimize mission critical operations.</p>
            </div>
        </div>
    </div>
</section>


<section id="contact" class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="f-white">Work with us</h1>
                <p>Discover how to achieve your data analysis goals faster than you imagined. Our team can help you implement advanced solutions that offer unprecedented insights.</p>
                <p>
                    <a href="contact.html" class="btn btn-green btn-lg">Contact Us</a>
                </p>
            </div>
        </div>
    </div>
</section>

<%- include _parts/footer %>

